/* Reset dulu bos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */
:root {
  --primary: #3d405b;
  --red: #c1292e;
  --green: #588157;
  --yellow: #fcbf49;
  --purple: #52154e;
}

/* Default style */
body {
  font-family: 'Segoe UI', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

header {
  color: var(--primary);
  font-weight: bold;
  font-size: 2rem;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.add-section {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-list {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}

.add-input {
  height: 2rem;
  width: 16rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.add-btn {
  height: 2rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.add-icon {
  color: var(--primary);
  pointer-events: none;
  transition: 0.3s;
}

.container {
  border-radius: 10px;
  margin: 0 auto 1.8em;
  width: max-content;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: var(--primary);
  transition: 0.3s;
}

.list {
  list-style: none;
}

.sorted-by {
  color: #fff;
  font-weight: bold;
  margin: 1em;
  opacity: 0.8;
  transition: 0.2s;
}

.break-line {
  width: 90%;
  margin: 0 auto;
  border: 1px solid white;
  opacity: 0.3;
  border-radius: 30px;
}

.item {
  margin: 1em;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.item::before {
  content: '';
  width: 5px;
  height: 3px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #fff;
  margin-right: 8px;
  opacity: 0;
}

.item:hover::before {
  opacity: 1;
}

.text {
  border: none;
  outline: none;
  font-size: 1em;
  margin-left: 0.8em;
  color: #fff;
  background-color: transparent;
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.remove {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1px;
  background-color: transparent;
  transition: 0.2s;
  transform: translateY(2.1rem) scale(0.875);
  margin-right: 5px;
}

.remove-icon {
  color: #fff;
  pointer-events: none;
}

.item:hover .remove {
  transform: translateY(0) scale(0.875);
}

.menu-btn {
  border: none;
  outline: none;
  background-color: var(--primary);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 5em 5em 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.menu-icon {
  color: #fff;
  pointer-events: none;
}

.menu-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 8rem;
  background-color: #fff;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 9em 4em 0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.show-menu-box {
  display: flex;
}

.menu-box-header {
  font-weight: bold;
  padding: 0.5em 0.6em;
  pointer-events: none;
  color: var(--primary);
}

.menu-box-header::after {
  content: '';
  display: block;
  border: 1px solid var(--primary);
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  opacity: 0.3;
}

.menu-box-option {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  padding: 0.6em;
  align-items: center;
}
.active {
  font-size: 14px;
  margin-left: auto;
}

.menu-box-option:hover {
  background-color: #ddd;
}

.color {
  width: 18px;
  height: 18px;
  background-color: var(--primary);
  border-radius: 50%;
  margin-right: 5px;
}

.color.red {
  background-color: var(--red);
}
.color.green {
  background-color: var(--green);
}
.color.yellow {
  background-color: var(--yellow);
}
.color.purple {
  background-color: var(--purple);
}
